name: mock CI/CD

on:
  workflow_dispatch: 
  push:
    branches:
      - 'feature/*'
      - 'develop'
      - 'release/*'
      - 'main'
    paths:
      - alpha/**
      - beta/**
      - gamma/**
  pull_request:
    branches:
      - 'release/*'
      - develop
      - main

jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the target branch (base branch)
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          fetch-depth: 0
          clean: true

      - name: Checkout the current branch (head branch)
        run: |
          git fetch origin ${{ github.event.pull_request.head.ref }}
          git checkout ${{ github.event.pull_request.head.ref }}

      - name: Rebase the current branch onto the target branch
        run: |
          git rebase origin/${{ github.event.pull_request.base.ref }}

      - name: Push the rebased branch (force-push after rebase)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin ${{ github.event.pull_request.head.ref }} --force

  build:
    needs: rebase
    runs-on: ubuntu-latest
    outputs:
      alpha_exists: ${{ steps.set_programs.outputs.alpha_exists }}
      beta_exists: ${{ steps.set_programs.outputs.beta_exists }}
      gamma_exists: ${{ steps.set_programs.outputs.gamma_exists }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set environment based on the branch or PR
        id: set_env
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            BRANCH="${{ github.event.pull_request.base.ref }}"
          else
            BRANCH="${{ github.ref_name }}"
          fi

          if [[ "$BRANCH" == feature/* || "$BRANCH" == bugfix/* ]]; then
            ENVIRONMENT="dev"
          elif [[ "$BRANCH" == release/* || "$BRANCH" == develop ]]; then
            ENVIRONMENT="uat"
          elif [[ "$BRANCH" == main || "$BRANCH" == hotfix/* ]]; then
            ENVIRONMENT="prod"
          else
            echo "Unknown branch, exiting"
            exit 1
          fi

          echo "environment is set to $ENVIRONMENT"
          echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV

          echo "### Environment and Branch Info" >> $GITHUB_STEP_SUMMARY
          echo "- **Branch**: $BRANCH" >> $GITHUB_STEP_SUMMARY
          echo "- **Environment**: $ENVIRONMENT" >> $GITHUB_STEP_SUMMARY

      - name: Determine base branch based on current branch
        run: |
          git fetch --all
          
          echo "**GitHub Event :** ${{ github.event_name }}" >> $GITHUB_STEP_SUMMARY
          
          if [[ "${{ github.event_name }}" == "pull_request" && "$BRANCH" == develop ]]; then
            BASE_BRANCH="develop"
          elif [[ "${{ github.event_name }}" == "pull_request" && "$BRANCH" == main ]]; then
            BASE_BRANCH="main"
          elif [[ "$BRANCH" == feature/* ]]; then
            BASE_BRANCH="develop"
          elif [[ "$BRANCH" == develop ]]; then
            BASE_BRANCH="main"
          else
            BASE_BRANCH="main"
          fi
      
          echo "Base branch is determined as: $BASE_BRANCH" >> $GITHUB_STEP_SUMMARY
          echo "BASE_BRANCH=$BASE_BRANCH" >> $GITHUB_ENV
          
          if git show-ref --verif
