name: mock CI/CD


#This approach effectively reduces unnecessary resource consumption by canceling old workflows that are still running when new commits are pushed.
#It ensures that only the latest commits trigger the workflow while keeping the context of the branch, making it easier to manage builds and deployments.
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch: 
  push:
    branches:
      - 'feature/*'
      - 'develop'
      - 'release/*'
      - 'main'
    paths:
      - alpha/**
      - beta/**
      - gamma/**

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      alpha_exists: ${{ steps.set_programs.outputs.alpha_exists }}
      beta_exists: ${{ steps.set_programs.outputs.beta_exists }}
      gamma_exists: ${{ steps.set_programs.outputs.gamma_exists }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set environment based on the branch
        id: set_env
        run: |
          BRANCH="${{ github.ref_name }}"
          if [[ "$BRANCH" == feature/* || "$BRANCH" == bugfix/* ]]; then
            ENVIRONMENT="dev"
          elif [[ "$BRANCH" == release/* || "$BRANCH" == develop ]]; then
            ENVIRONMENT="uat"
          elif [[ "$BRANCH" == main || "$BRANCH" == hotfix/* ]]; then
            ENVIRONMENT="prod"
          else
            echo "Unknown branch, exiting"
            exit 1
          fi

          echo "environment is set to $ENVIRONMENT"
          echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV

          # GitHub summary for this step
          echo "### Environment and Branch Info" >> $GITHUB_STEP_SUMMARY
          echo "- **Branch**: $BRANCH" >> $GITHUB_STEP_SUMMARY
          echo "- **Environment**: $ENVIRONMENT" >> $GITHUB_STEP_SUMMARY

      - name: Determine base branch based on current branch
        run: |
          git fetch --all
          
          echo "**GitHub Event :** ${{ github.event_name }}" >> $GITHUB_STEP_SUMMARY
          
          BASE_BRANCH="main"  # Default base branch
          if [[ "$BRANCH" == feature/* ]]; then
            BASE_BRANCH="develop"
          elif [[ "$BRANCH" == develop ]]; then
            BASE_BRANCH="develop"
          fi

          echo "Base branch is determined as: $BASE_BRANCH" >> $GITHUB_STEP_SUMMARY
          echo "BASE_BRANCH=$BASE_BRANCH" >> $GITHUB_ENV
          
          # Verify the BASE_BRANCH exists after fetching
          if git show-ref --verify --quiet refs/remotes/origin/$BASE_BRANCH; then
            echo "Base branch exists remotely."
          else
            echo "Base branch does not exist remotely. Exiting."
            exit 1
          fi
          
          CURRENT_BRANCH="${{ github.ref_name }}"
          echo "Current branch is: $CURRENT_BRANCH" >> $GITHUB_STEP_SUMMARY
          git fetch origin $CURRENT_BRANCH
          
          BASE_BRANCH_SHA=$(git rev-parse origin/$BASE_BRANCH)
          CURRENT_SHA="${{ github.sha }}"
          
          echo "Base branch ($BASE_BRANCH) commit hash: $BASE_BRANCH_SHA"
          echo "Current commit hash (github.sha): $CURRENT_SHA"
          
          if [[ "$BASE_BRANCH_SHA" == "$CURRENT_SHA" ]]; then
            echo "$BASE_BRANCH_SHA and $CURRENT_SHA are the same" >> $GITHUB_STEP_SUMMARY
            PARENT_COMMIT=$(git rev-parse $CURRENT_SHA^1)
            echo "PR merged to $BASE_BRANCH branch. Using parent commit $PARENT_COMMIT to find changes." >> $GITHUB_STEP_SUMMARY
            MODIFIED_FILES=$(git diff --name-only $PARENT_COMMIT $CURRENT_SHA)
          else
            MODIFIED_FILES=$(git diff --name-only origin/$BASE_BRANCH..$CURRENT_SHA)
          fi
          
          echo "Modified files: $MODIFIED_FILES"
          echo "$MODIFIED_FILES" | tr '\n' ',' > files_list.txt
          echo "MODIFIED_FILES=$(cat files_list.txt)" >> $GITHUB_ENV
          
          echo "### Modified Files" >> $GITHUB_STEP_SUMMARY
          if [ -z "$MODIFIED_FILES" ]; then
            echo "No modified files" >> $GITHUB_STEP_SUMMARY
          else
            echo "$MODIFIED_FILES" >> $GITHUB_STEP_SUMMARY
          fi

      - name: Set program files and zip them
        id: set_programs
        run: |
          MODIFIED_FILES="${{ env.MODIFIED_FILES }}"
          ALPHA_FILES=()
          BETA_FILES=()
          GAMMA_FILES=()

          IFS=',' read -ra FILE_ARRAY <<< "$MODIFIED_FILES"
          for file in "${FILE_ARRAY[@]}"; do
            if [[ "$file" == alpha/* ]]; then
              ALPHA_FILES+=("$file")
            elif [[ "$file" == beta/* ]]; then
              BETA_FILES+=("$file")
            elif [[ "$file" == gamma/* ]]; then
              GAMMA_FILES+=("$file")
            fi
          done

          function zip_and_upload {
            PROGRAM_NAME=$1
            FILES=("${!2}")
            ZIP_NAME="${PROGRAM_NAME}_modified_files.zip"
            if [ ${#FILES[@]} -gt 0 ]; then
              zip -r "$ZIP_NAME" "${FILES[@]}"
              echo "Zipped $PROGRAM_NAME files into $ZIP_NAME"
              mv "$ZIP_NAME" "$PROGRAM_NAME.zip"
              echo "::set-output name=${PROGRAM_NAME}_exists::true"
            else
              echo "No modified files for $PROGRAM_NAME."
              echo "::set-output name=${PROGRAM_NAME}_exists::false"
            fi
          }

          zip_and_upload "alpha" ALPHA_FILES[@]
          zip_and_upload "beta" BETA_FILES[@]
          zip_and_upload "gamma" GAMMA_FILES[@]
      
      - name: Upload Alpha files
        if: steps.set_programs.outputs.alpha_exists == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: alpha_modified_files
          path: alpha.zip
      - name: Upload Beta files
        if: steps.set_programs.outputs.beta_exists == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: beta_modified_files
          path: beta.zip
      - name: Upload Gamma files
        if: steps.set_programs.outputs.gamma_exists == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: gamma_modified_files
          path: gamma.zip     
  
  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Download Alpha files
        if: needs.build.outputs.alpha_exists == 'true'
        uses: actions/download-artifact@v4
        with:
          name: alpha_modified_files
          path: downloaded_files/alpha
      - name: Download Beta files
        if: needs.build.outputs.beta_exists == 'true'
        uses: actions/download-artifact@v4
        with:
          name: beta_modified_files
          path: downloaded_files/beta
      - name: Download Gamma files
        if: needs.build.outputs.gamma_exists == 'true'
        uses: actions/download-artifact@v4
        with:
          name: gamma_modified_files
          path: downloaded_files/gamma
      - name: Extract and list downloaded files
        run: |
          echo "Listing downloaded files..."
          for program in alpha beta gamma; do
            if [ -d "downloaded_files/$program" ]; then
              echo "Contents of $program artifact:"
              ls "downloaded_files/$program"
            else
              echo "Artifact for $program does not exist."
            fi
          done

      - name: Deployment into ${{ env.ENVIRONMENT }} environment
        run: |
          echo "Deploying to the ${{ env.ENVIRONMENT }} environment..."
